@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;1,700&display=swap');

        /* Perus tyylit */
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 100vh;
            width: 100vw;
            background: linear-gradient(4deg, #03315c, #004572, #006ea1);
            background-size: cover;
            background-repeat: no-repeat;
            margin: 0;
            font-family: 'Open Sans', sans-serif;
            text-align: center;
            overflow: hidden;
        }

        p {
            font-size: 6vw;
            color: #fff;
            margin: 0;
        }

        img {
            width: 25vw;
            margin-top: 20px;
        }

        
        @media (max-width: 600px) {
            p {
                font-size: 8vw;
            }
            img {
                width: 50vw;
            }
        }
